extends layout

block content
  h1= title
  p Welcome to #{title}

block queries
  h1 Queries
  h2(class="query-header") Games that support a combination of platforms and have positive reviews
  div(class="chart" id="chart0")

  h2(class="query-header") Games with Both High Playtime & Low Price
  div(class="chart" id="chart1")

  h2(class="query-header") Top Genres by Average Playtime
  div(class="chart" id="chart2")

  h2(class="query-header") X Games with X Price that Support at least X (number) Platforms
  div(class="chart" id="chart3")

  h2(class="query-header") X (genre) Games that belong to X category by release date
  div(class="chart" id="chart4")

  h2(class="query-header") Number of Achievements and Peak Concurrent Users for Popular Games (with over 5000 positive reviews) in Specific Genres
  div(class="chart" id="chart5")

  h2(class="query-header") Total Estimated Owners and Average Playtime by Genre
  div(class="chart" id="chart6")
