- var title = "Dashboard"
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block queries
    script(src="https://cdn.jsdelivr.net/npm/apexcharts")
    script(src="javascript/test-chart.js")
