h1 Queries
include query-entries/platform
include query-entries/high-playtime-low-price
include query-entries/genre-average-playtime
include query-entries/price-platform
include query-entries/category-release-date
include query-entries/achieve-concurrent
include query-entries/owners-playtime-genre
