h1 Queries

.query-block
  include query-entries/platform-review

.query-block
  include query-entries/high-playtime-low-price

.query-block
  include query-entries/genre-average-playtime

.query-block
  include query-entries/price-platform

.query-block
  include query-entries/category-release-date

.query-block
  include query-entries/achieve-concurrent

.query-block
  include query-entries/owners-playtime-genre
