extends layout

block queries
    h1 Queries
    h2 Games that support a combination of platforms and have positive reviews

    h2 Games with Both High Playtime & Low Price

    h2 Top Genres by Average Playtime

    h2 X Games with X Price that Support at least X (number) Platforms

    h2 X (genre) Games that belong to X category by release date

    h2 Number of Achievements and Peak Concurrent Users for Popular Games (with over 5000 positive reviews) in Specific Genres

    h2 Total Estimated Owners and Average Playtime by Genre
