body {
  margin: 0;
  /* padding: 50px; */
  font: 18px 'Roboto', sans-serif;
  background-color: #f4f4f4;
}

a {
  color: #00B7FF;
}

p {
  font-weight: 500;
}

h1, h2 {
  color: #00B7FF;
  font-weight: 700;
}

.dashboard {
  display: grid;
  grid-template-columns: no-repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  width: 100%;
}

.query-block {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.query-header {
  font-size: 18px;
  margin-bottom: 10px;
}

.chart {
  height: 300px;
  background-color: #eaeaea;
  border-radius: 5px;
}


/* sidebar */
.container {
  display: flex;
}

.sidebar {
  width: 250px;
  background-color: #333;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 700;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 15px;
}

.sidebar a {
  color: #22d422;
  text-decoration: none;
  font-weight: 500;
}

.sidebar a:hover {
  color: #ddd;
}

