h2(class="query-header") 
  | Number of Achievements and Peak Concurrent Users for 
  | Popular Games (with over 5000 positive reviews) in Specific Genres
div(class="chart" id="chart5")
p(class="description") 
  | This SQL query is designed to retrieve information about popular games in 
  | specific genres by focusing on their number of achievements, positive reviews, 
  | and peak concurrent users. The games considered popular are those with more 
  | than 5,000 positive reviews, and the query targets only the genres 
  | "Action," "RPG," and "Strategy."

script(src="javascript/queries/achieve-concurrent.js")
