h2(class="query-header") Number of Achievements and Peak Concurrent Users for Popular Games (with over 5000 positive reviews) in Specific Genres
div(class="chart" id="chart5")
p(class="description") 
| description here

script(src="javascript/queries/achieve-concurrent.js")
