h2(class="query-header") 
  | X (genre) Games that belong to X category by release date
div(class="chart4")
p(class="description") 
  | This SQL query retrieves information about the game's release date, 
  | genre, and its categories. It aims to provide insights into the genre 
  | and category combinations as well as the release timeline of these games.

script(src="javascript/queries/category-release-date.js")
