h2(class="query-header") 
  | Total Estimated Owners and Average Playtime by Genre
div(class="chart" id="chart6")
p(class="description") 
  | description here

script(src="javascript/queries/playtime-genre.js")
