h2(class="query-header") 
  | Total Estimated Owners and Average Playtime by Genre
div(class="chart" id="chart6")
p(class="description") 
  | The SQL query starts by selecting three key values: the genre of the game 
  | (`g.genre`), the total number of estimated owners (`SUM(s.estimated_owners)`),
  | and the average playtime (`AVG(p.average_forever)`). The alias `game_genre` is 
  | assigned to the genre column to clarify its purpose, while the `total_estimated_owners` 
  | and `avg_playtime` columns store the aggregated results of estimated owners 
  | and average playtime, respectively. 

script(src="javascript/queries/playtime-genre.js")
