h2(class="query-header") 
  | Total Estimated Owners and Average Playtime by Genre
div(class="chart" id="chart6")
p(class="description") 
  | This SQL query is designed to provide insights into the total estimated number 
  | of game owners and the average playtime, grouped by game genre, with additional 
  | subtotal rows due to the use of the WITH ROLLUP clause.

script(src="javascript/queries/playtime-genre.js")
