h2(class="query-header") Games that support a combination of platforms and have positive reviews
div(class="chart" id="chart0")
p(class="description") 
| description here

script(src="platform-reviews.js")
