h2(class="query-header") 
  | Games that support a combination of platforms and have positive reviews

h3 Overview
style.
  .platform.review.chart {
    margin: auto;
    width: 500px;
  }
div(class="platform review container")
  div(class="platform review chart")

p(class="description") 
  | The data are formed by multiple subqueries for each platform and category
  | (in the platform and exclusively in the said platform). The query uses the 
  | <code>COUNT</code> function instead of <code>SELECT *</code> to
  | return only the number of results.

script(src="javascript/queries/platform-review.js")
