h2(class="query-header") X Games with X Price that Support at least X (number) Platforms
div(class="chart" id="chart3")
p(class="description") 
| description here

script(src="javascript/queries/price-platform.js")
